@media print
   {
    @page {
        size: A4;
    }
    body {
       font-size: 12pt;
    }

    a[href].printnolink:after {
        content: "";
    }

    .main-wrapper .experiences-section {
        .job-title {
            font-size: large;
        }

        .item .time {
//            float: right;

            color: black !important;
            -webkit-print-color-adjust: exact;
        }
    }

    .section .item {
        page-break-inside: avoid;
    }

    .projects-section {
        display: none;
    }

    img.avatar {
        filter: grayscale(1);
        -webkit-filter: greyscale(1);
    }

    .main-wrapper .section {
        margin-bottom: 40px;
    }

    .sidebar-wrapper {
        position: static;
        float: right;
        width: 40%;
        -webkit-print-color-adjust: exact;

        border-left: solid black 1pt;
        margin-left: 15px;
        height: 29.5cm;
    }

    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }

    .skillset .level-bar-inner {
       background-color: black !important;
       -webkit-print-color-adjust: exact;
    }

    .skillset .level-title {
        display: inline-block;
        float: left;
        width: 30%;
        margin-bottom: 0;
    }

    .skillset .level-bar {
        display: inline-block;
        width: 70%;
        float: left;
        position: relative;
        top: 1px;
    }
}